@media screen and (min-width: 768px){
    .board .banner {
        display: block;
        width: 100%;
        height: 240px;
        background-color: #ACF3D3;
        margin-bottom: 38px;
    }

    .board .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
        margin-bottom: 18px;
    }

    .board .header a {
        color: #3FB488;
    }

    .board .box {
        width: 100%;
        height: 960px;
        margin-bottom: 40px;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
        padding: 16px 0;
    }
}

/* 모바일 */

@media screen and (max-width: 768px){
    .board .banner {
        display: block;
        width: 100%;
        height: 200px;
        background-image: url("https://source.unsplash.com/user/erondu/768x200");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .board .header {
        height: 42px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 12px;
    }

    .board .header .menu {
        width: 48px;
        display: flex;
        justify-content: space-between;
    }

    .board .header .create {
        width: 18px;
        height: 18px;
        background-image: url("/src/assets/plus.svg");
        background-repeat: no-repeat;
        font-size: 0;
    }

    .board .header .search {
        width: 18px;
        height: 18px;
        background-image: url("/src/assets/search.svg");
        background-repeat: no-repeat;
        font-size: 0;
    }

    .board .box-padding {
        padding: 0 12px;
    }

    .board .box {
        width: 100%;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
        background-color: #FFF;
    }

    .board .box .article {
        padding: 12px;
        border-bottom: solid 1px #F0F0F0;
    }

    .board .box .article-title {
        font-size: 1rem;
    }

    .board .box .article-info {
        font-size: 10px;
        color: #808080;
    }
}